.main__nav {
   max-width: 100%;
   min-height: 10vh;
   background: #FFFFFF;
   border-bottom-width: 1px;
   border-bottom-style: solid;
   border: 1px solid whitesmoke;
   box-shadow: 0px 0px 10px 10px #FFFFFF;
   display: flex;
   justify-content: center;
   box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
   z-index: 1000;
   position: relative;
}


.container__nav {
   width: 80%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   background: #FFFFFF;
  

   
}

.header__name {
   flex-grow: 1;
   padding: 1rem;
}

.header__nav {
   display: flex;
   flex-grow: 1;
   justify-content: space-around;
}

.header__nav li{
   list-style: none;
   display: inline-block;
   /* text-transform: uppercase; */
   
   
   
}

.header__nav a {
   text-decoration: none;
   display: block;
   padding: 1rem;
   font-size: 1.2rem;
   color: red;
   
}




@media (min-width: 768px) {
   .container__nav {
      flex-direction: row;
   }

   .header__nav a {
      font-size: 1.5rem;
   }

   .header__name {
      flex-grow: 2;
      padding: 1rem;
   }

   .header__nav {
      display: flex;
      flex-grow: 1;
      justify-content: space-around;
   }
}

